{
  "optional": ["runtime"],
  "stage": 0,
  "plugins": ["react-intl", "react-transform"],
  "extra": {
    "react-intl": {
      "messagesDir": "_translations"
    },
    "react-transform": [
      {
        "target": "react-transform-webpack-hmr",
        "imports": ["react"],
        "locals": ["module"]
      },
      {
        "target": "react-transform-catch-errors",
        "imports": ["react", "redbox-react"]
      }
    ]
  }
}